.demo-container {
	border: 1px solid #009BE3;
	padding:0px;
	font-family: "Myriad Pro Regular","Trebuchet MS";
}

.demo-container a, .demo-container a:link, .demo-container a:visited, .demo-container a:hover, .demo-container a:focus, .demo-container a:active {
	color: rgb(120,120,120);
}

.demo-container ul {
	list-style-type: none;
	padding:0;
	margin:1em 0;
	width:100%;
	overflow:hidden;
}

.demo-container ul span {
	color: #A0A600;
}

.demo-container li {
	margin:0 1em;
}
.demo-container .jp-artist {
	float: right;
	width: 30%;
}
.demo-container li.jp-playlist-current {
	background: url("resources/images/desktop/music/left_menu.png");
}
.demo-container .jp-playlist-item {
	color: rgb(120,120,120);
	font-size: 12px;
}
.demo-container .jp-play:hover {
	background: url("../images/desktop/music/play-focus.png");
}